<%= currently_at 'Edit Session' %>

<header class='dark pad4y center'>
  <div class='container-fluid contain clearfix'>
    <h1>Edit Session</h1>
    <p class='lead quiet'>Bacon ipsum dolor amet hamburger capicola</p>
  </div>
</header>

<div class='container-fluid contain'>
  <div class='col-sm-8 col-sm-offset-2'>
    <%= render 'form' %>
  </div>
</div>
