<div class='col-md-4 col-sm-6 pad2'>
  <div class='block fill-darken1 dark round pad3 contain row9'>
    <%#= image_tag 'ribbon.svg', class: 'ribbon pin-topright' %>
    <%= category_link_for(talk) %>
    <h3 class='pad0y space-bottom0'>
      <%= link_to talk.title, talk, class: 'text-default block' %>
    </h3>
    <%= render partial: 'shared/author', locals: { talk: talk } %>
    <%= render partial: 'talks/stats', locals: { talk: talk } %>
  </div>
</div>