<%= currently_at 'New Talk' %>

<header class='dark pad4y center'>
  <div class='container-fluid contain clearfix'>
    <h1>New Talk</h1>
    <p class='lead quiet'>What would you like to speak about?</p>
  </div>
</header>

<div class='container-fluid contain'>
  <div class='col-sm-8 col-sm-offset-2'>
    <%= render 'form' %>
  </div>
</div>
