<div class='inline quiet'>
  <a href='#fakelink'>
    <%= image_tag 'hero.jpg', width: 20, class: 'img-rounded inline', style: 'margin-right: 3px;' %>
    <a href='#fakelink'><strong class='quiet'><%= talk.user.first_name %></strong></a>
  </a>
  <span>on <%= @meeting.title %></span>
</div>
