<div class='inline quiet'>
  <%= link_to talk.user do %>
    <%= avatar_for talk.user, width: 20, class: 'img-rounded inline', style: 'margin-right: 3px;' %>
    <strong class='quiet'><%= talk.user.first_name %></strong>
  <% end %>
  <span>on <%= talk.meeting.title %></span>
</div>
