<%= currently_at 'Tags' %>

<header class='dark pad4y'>
  <div class='container-fluid contain clearfix'>
    <h1>All Tags</h1>
    <p class='lead quiet'>Sirloin, ground round, fatback, lorem ipsum dolor sit amet</p>
  </div>
</header>

<div class='container-fluid contain space-bottom4 dark'>
  <%= render @tags %>
</div>
