<h2 class='space-bottom1'>New <%= singular_table_name.titleize %></h2>
<%%= render 'form', <%= singular_table_name %>: @<%= singular_table_name %> %>
<%%= link_to 'Back to list', <%= index_helper %>_path %>
