// Place all the styles related to the relationships controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.users {
  .new_relationship,
  .edit_relationship {
    top: 50%;
    z-index: 1;
    position: absolute;
    right: 0;
  }

  .user:last-child {

  }
}
